@model PoliticalPurse.Web.ViewModels.DataViewModel

<div class="container-fluid mt-4" id="data">
    <div class="row">
        <div class="col">
            <h1 class="js-header"></h1>
            <h2 class="js-sub-header font-italic"></h2>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col js-data"></div>
    </div>
    <div class="js-charts">
    </div>
</div>

@section scripts {
<script>
    var query = "@Model.DefaultQuery";

    function drawChart(){
        Data.loadData('@Model.Datasource', query, document.getElementById("data"));
    }

    if(location.hash && location.hash != "#"){
        query = location.hash.substring(1); // remove #
        updateActiveLink();
    }

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(drawChart);

    $(window).on("hashchange", function() {
        if(!location.hash || location.hash == "#") {
            query = "@Model.DefaultQuery";
        }
        else {
            query = location.hash.substring(1); // remove #
        }

        updateActiveLink();

        Data.loadData('@Model.Datasource', query, document.getElementById("data"));
    });
</script>
}