<div class="marketing-jumbotron-container">
    <div class="jumbotron">
        <div class="marketing-jumbotron">
            <div class="container">
                <h1 class="display-2 marketing-header text-center">The Political Purse</h1>
            </div>
            <div class="container marketing-jumbotron__contents m-t-3 m-b-3 p-a-1">
                <p>
                    Political parties form the foundation of our representative democracy.
                    They exist to represent the different views of society on what our country
                    should look like, how our resources should be spent, and what values we
                    should follow to make our country better. However to do this, political
                    parties need funding and supporters to contest elections.
                </p>
                <p>
                    So where do the funds come from? Generally, funds for political parties
                    come from donations, party membership fees, and, if they are elected to
                    Parliament, the taxpayer. Without pulling together several different
                    sources of information, it is difficult to ascertain where political
                    parties, and individual politicians, get their funding.
                </p>
                <p class="text-bold">
                    We believe the voter should have access to clear and independent
                    information about who is funding the political system that decides
                    how their taxes and rates are being used, what rules they have to abide
                    by, and who represents their country overseas.
                </p>
                <p>
                    We at the Political Purse decided to set up this website to provide:
                </p>
                <ul>
                    <li>greater transparency on where political parties get their funding; and </li>
                    <li>
                        an easily accessible source of information for the public on the funding
                        of political parties, and politicians more generally.
                    </li>
                </ul>
                <p class="text=bold">
                    See the data we currently hold <a href="/data">here</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="marketing-container p-b-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 id="notify">Want to be notified when we release a new set of records?</h2>
                <p>
                    If you're interested, we can email you when we release new information.
                </p>
            </div>
            <div class="col-md-5">
                <!-- Begin MailChimp Signup Form -->
                <div id="mc_embed_signup">
                    <form action="//thepoliticalpurse.us14.list-manage.com/subscribe/post?u=7ee3371cf30836865a2593097&amp;id=c0bb108519" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                        <div class="mc-field-group form-group">
                            <label for="mce-FNAME" class="sr-only">First Name </label>
                            <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME" placeholder="First Name">
                        </div>
                        <div class="mc-field-group form-group">
                            <label for="mce-LNAME" class="sr-only">Last Name </label>
                            <input type="text" value="" name="LNAME" class="form-control" id="mce-LNAME" placeholder="Last Name">
                        </div>
                        <div class="mc-field-group form-group">
                            <label for="mce-EMAIL" class="sr-only">Email Address </label>
                            <input type="email" value="" name="EMAIL" class="form-control required" id="mce-EMAIL" placeholder="Email">
                        </div>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;"><input type="text" name="b_80eaa86e948880d8e05720a98_a489708aef" tabindex="-1" value=""></div>
                        <div class="form-group"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"></div>
                        </div>
                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>
                    </form>
                </div>
                <!--End mc_embed_signup-->
                <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
                <script type='text/javascript'>
                    (function($) {window.fnames = new Array();window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);
                </script>
                <!--End mc_embed_signup-->
            </div>
            <small class="col-md-12">
                We promise not to use your email address for anything untoward, and if you change your mind you can always opt-out later.
            </small>
        </div>
    </div>
</div>