.politicalpurse-admin {
    .politicalpurse-navbar {
        background-color: #B60913;

        /* change the brand and text color */
        .navbar-brand, .navbar-text {
            color: rgba(255,255,255,.8);
        }
        /* change the link color */
        .navbar-nav .nav-link {
            color: rgba(255,255,255,.5);
        }
        /* change the color of active or hovered links */
        .nav-item.active .nav-link,
        .nav-item:hover .nav-link {
            color: #ffffff;
        }
    }
}
