.form-control-loading {
    padding-right: 2.25rem;
    background-repeat: no-repeat;
    background-position: center right .625rem;
    -webkit-background-size: 1.25rem 1.25rem;
    background-size: 1.25rem 1.25rem;
}

.form-control-loading::after {
    content: "\f1ce";
    font-family: FontAwesome;
}