@import "marketing";
@import "inputs";
@import "nav";
@import "charts";
@import "loading";
@import "admin";

.hide {
    display: none;
}

.text-bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
}